# Lab 3

## Type checking

In [3]:
type(10)

int

In [4]:
num = 1235
type(num)

int

## Grouping Digits

In [5]:
12_345_667

12345667

In [74]:
12,46,867,43 #If digits are grouped using commas, it wont work, it returns a list instead.

(12, 46, 867, 43)

## Exponential

In [8]:
1e1 #Result is returned in floating point values

10.0

In [9]:
1 * (10 ** 1) #Using power operator (**)

10

In [10]:
2e2

200.0

In [11]:
2 * (10 ** 2)

200

In [12]:
x = 10
n = 5
x * (10 ** n)

1000000

In [15]:
10 * pow(10, 5) #Using pow() function

1000000

In [19]:
1e390 #When number reaches max floating point number, it returns infinity

inf

## Arithematic Operations

2 + 3

In [21]:
1 * (2 / 3) / 5 + 6

6.133333333333334

## Integer Division

#### Example 1:

In [24]:
2 / 3 #Without integer division

0.6666666666666666

In [29]:
2 // 3 #With integer division

0

#### Example 2:

In [27]:
5 / 3

1.6666666666666667

In [28]:
5 // 3

1

## Write a python script to read two numbers N1, N2 and apply integer division (//) and a divison(/) operation on N1 and N2 and display result.

In [30]:
n1 = int(input("Enter the value of N1: "))
n2 = int(input("Enter the value of N2: "))
print("Result using integer division operator: ",(n1 // n2))
print("Result using division operator: ",(n1 / n2))

Enter the value of N1:  3
Enter the value of N2:  2

Result using integer division operator:  1
Result using division operator:  1.5

## Write a python script to evaluate the following expression using input() and print() function:

#### i) x*(y+(p*q)-r)/s

In [33]:
x = int(input("Enter the value of x: "))
y = int(input("Enter the value of y: "))
p = int(input("Enter the value of p: "))
q = int(input("Enter the value of q: "))
r = int(input("Enter the value of r: "))
s = int(input("Enter the value of s: "))
print(x * (y + (p * q) - r) / s)

Enter the value of x:  2
Enter the value of y:  3
Enter the value of p:  4
Enter the value of q:  5
Enter the value of r:  6
Enter the value of s:  7

4.857142857142857

#### ii) a-b*(c+(d//e)*f)

In [35]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
c = int(input("Enter the value of c: "))
d = int(input("Enter the value of d: "))
e = int(input("Enter the value of e: "))
f = int(input("Enter the value of f: "))
print(a - b * (c + (d // e) * f))

Enter the value of a:  1
Enter the value of b:  2
Enter the value of c:  3
Enter the value of d:  4
Enter the value of e:  5
Enter the value of f:  6

-5

## Round Function

If the given digit is even then it applys rounds down and if the given digit is odd then it applys rounds up.

In [41]:
round(2.5) #If even, rounds down

2

In [42]:
round(3.5) #If odd, rounds up

4

In [44]:
round(3.123, 2) #Specifying the number of decimals in the result

3.12

## Absolute Function

In [45]:
abs(-123)

123

In [46]:
abs(2.3)

2.3

In [47]:
abs(-2.36)

2.36

## Power Function With 3 Arguments

pow(x, y, z) = (x ** y) % z

In [48]:
pow(2, 2, 2)

0

In [49]:
pow(2, 3) % 3

2

## Format Function

In [56]:
"{} {}".format(round(1.5587, 2), round(8.2547, 3), round(7.236, 1))

'1.56 8.255'

In [59]:
"{} {} {}".format(round(1.5587, 2), round(8.2547, 3), round(7.236, 1))

'1.56 8.255 7.2'

## is_integer() function

Checks if a number has a fractional part or not. It only works on floating point numbers.

In [60]:
num = 25.25
num.is_integer()

False

In [61]:
num = 25.0
num.is_integer()

True

## Using [:.nf] style

In [62]:
r = 2.895
f"The fixed floating point number is: {r:.2f}"

'The fixed floating point number is: 2.90'

In [75]:
num = 0.895
f"{num:.1%}" #Converts value to percentage(multiplies by 100) and shows the specified number of decimals

'89.5%'

In [65]:
num = 0.895
f"{num:.2%}"

'89.50%'

In [72]:
n = 123456789
f"{n:,}" # Groups in 3 digit format using specified symbol(, or _)

'123,456,789'

## Write a Python script to streamline the result using format() function.

In [2]:
num1 = int(input("Enter a number 1:"))
num2 = int(input("Enter a number 2:"))
print("The entered numbers are {} and {}".format(num1, num2))

The entered numbers are 2 and 4

## Write a Python script to demonstrate the use of the following math function

#### a. round()

In [76]:
num = float(input("Enter a floating point number: "))
decimal = int(input("Enter the number of decimal places: "))
print(f"The number {num} rounded down to {decimal} places is {round(num, decimal)}")

Enter a floating point number:  4.6558
Enter the number of decimal places:  2

The number 4.6558 rounded down to 2 places is 4.66

#### b. abs()

In [77]:
num = int(input("Enter a number: "))
print(f"The absolute value of {num} is {abs(num)}")

Enter a number:  -5

The absolute value of -5 is 5

#### c. pow()

In [78]:
x = int(input("Enter the base: "))
n = int(input("Enter the power: "))
print(f"The result is {pow(x, n)}")

Enter the base:  2
Enter the power:  3

The result is 8

## Write a Python script to evaluate the following expressions:

#### a. pow(x,y,z) or pow(x,y)%z

In [87]:
x = int(input("Enter the value of x: "))
y = int(input("Enter the value of y: "))
z = int(input("Enter the value of z: "))
print(f"Result: {pow(x, y, z)}")
print(f"Result: {pow(x, y) % z}")

Enter the value of x:  2
Enter the value of y:  2
Enter the value of z:  2

Result: 0
Result: 0

#### b. (x**y)%z

In [89]:
x = int(input("Enter the value of x: "))
y = int(input("Enter the value of y: "))
z = int(input("Enter the value of z: "))
print(f"Result: {(x ** y) % z}")

Enter the value of x:  3
Enter the value of y:  2
Enter the value of z:  2

Result: 1

#### c. ** operator

In [90]:
x = int(input("Enter the base: "))
n = int(input("Enter the power: "))
print(f"The result is {x ** n}")

Enter the base:  3
Enter the power:  2

The result is 9

## Complex Numbers

In [82]:
10 + 5j

(10+5j)

In [83]:
cnum = 30+16j
cnum.real

30.0

In [84]:
cnum.imag

16.0

In [94]:
cnum1 = 5 + 2j
cnum2 = 9 - 7j

In [95]:
cnum1 + cnum2

(14-5j)

In [96]:
cnum1 - cnum2

(-4+9j)

In [97]:
cnum1 * cnum2

(59-17j)

## Functions

#### syntax:
def function_name():  
&ensp;&ensp;stmt-1<br>
&ensp;&ensp;stmt-2<br>
&ensp;&ensp;return value  
stmt-3

Note: stmt-3 is not part of the function

In [100]:
def greetUser(name):
    print("Hello !!! " + name + ", Welcome to Python Programming")

greetUser("Joy")

Hello !!! Joy, Welcome to Python Programming

## Delete previously declared variable

In [104]:
len = "sdmcet"
st = "Computer Science"
# len(st) #This will cause an error
del len
len(st)

16

## Write a python script to evaluate basic arithmetic operations (addition, substraction, division, multiplication) using functions (user defined functions)

In [112]:
def arithematic_op(op1, op2):
    print(f"{op1} + {op2} = {op1 + op2}")
    print(f"{op1} - {op2} = {op1 - op2}")
    print(f"{op1} * {op2} = {op1 * op2}")
    print(f"{op1} / {op2} = {op1 / op2}")

num1 = int(input("Enter num1:"))
num2 = int(input("Enter num2:"))

arithematic_op(num1, num2)

Enter num1: 3
Enter num2: 6

3 + 6 = 9
3 - 6 = -3
3 * 6 = 18
3 / 6 = 0.5

In [111]:
def additionOp(n1, n2):
    print("The sum of two numbers is", (n1 + n2))
    
def substractOp(n1, n2):
    print("The difference of two numbers is", (n1 - n2))
    
def multiplyOp(n1, n2):
    print("The product of two numbers is", (n1 * n2))
    
def divideOp(n1, n2):
    print("The quotient of two numbers is", (n1 / n2))

num1 = int(input("Enter num1:"))
num2 = int(input("Enter num2:"))

additionOp(num1, num2)
substractOp(num1, num2)
multiplyOp(num1, num2)
divideOp(num1, num2)

Enter num1: 3
Enter num2: 6

The sum of two numbers is 9
The difference of two numbers is -3
The product of two numbers is 18
The quotient of two numbers is 0.5